<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t 'views.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @link.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @link.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @link.description %></dd>
  <dt><strong>Ersteller:</strong></dt>
  <dd><%= @link.user.username %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('views.back', :default => t("helpers.links.back")), links_path, :class => 'btn'  %>
  <%= link_to t('views.edit', :default => t("helpers.links.edit")), edit_link_path(@link), :class => 'btn' %>
  <%= link_to t('views.destroy', :default => t("helpers.links.destroy")),
              link_path(@link),
              :method => 'delete',
              :data => { :confirm => t('views.confirm', :default => t("helpers.links.confirm", :default => 'Sind Sie sicher?')) },
              :class => 'btn btn-danger' %>
</div>
